body{
background-image:url(https://img.freepik.com/vetores-gratis/traz-papel-de-parede-do-espaco-noturno-com-um-campo-estelar-brilhante_1017-53512.jpg?semt=ais_hybrid&w=740&q=80);
background-repeat: repeat;
font-family: 'Courier New', Courier, monospace;
}

#navegation{
    position: static;
    width: 100%;
    height: 50px;
    background-color: hsl(0, 0%, 62%);
    text-align: center;
    z-index: 1;
}

#navegation  a{
    color: black;
    text-decoration: none;
    position: relative;
    margin: 8%;
    font-style: italic;
}

#relative_activisio{
position: relative;
width: 200px;
height: 200px;
background-color: blue;
/*background-image: linear-gradient(to top left, black 10%, blue);*/
}
#pops{
    position: fixed;
    width: 12%;
    height: 20%;
    left: 85%;
    top: 70%;
    display: none;
}


h1{
color: white;
}
p{
    color:white;
}